[graph]
# cargo-deny is really only ever intended to run on the "normal" tier-1 targets
targets = [
    "x86_64-unknown-linux-gnu",
    "aarch64-unknown-linux-gnu",
    "x86_64-unknown-linux-musl",
    "aarch64-apple-darwin",
    "x86_64-apple-darwin",
    "x86_64-pc-windows-msvc",
]
all-features = true

[advisories]
unmaintained = "workspace"
ignore = []

[bans]
multiple-versions = "deny"
wildcards = 'deny'
highlight = "simplest-path"
deny = [
    { crate = "git2", use-instead = "gix" },
    { crate = "openssl", use-instead = "rustls" },
    { crate = "openssl-sys", use-instead = "rustls" },
    "libssh2-sys",
    { crate = "windows", reason = "bloated and unnecessary", use-instead = "ideally inline bindings, practically, windows-sys" },
]
skip = [
    { crate = "rand" },
    { crate = "rand_core" },
    { crate = "rand_chacha" },
    { crate = "getrandom" },
    { crate = "hashbrown", reason = "sqlx-core and indexmap require different versions" },
    { crate = "core-foundation", reason = "system-configuration and security-framework require different versions" },
    { crate = "heck", reason = "sea-orm dependencies require different versions" },
]
skip-tree = [
    { crate = "windows-sys", reason = "a foundational crate for many that bumps far too frequently to ever have a shared version" },
    { crate = "aws-lc-sys", reason = "rustls crypto provider build dependency" },
    { crate = "cmake", reason = "build dependency of aws-lc-sys" },
]

[sources]
unknown-registry = "deny"
unknown-git = "deny"

[licenses]
confidence-threshold = 0.93
allow = [
    "Apache-2.0",
    "MIT",
    "ISC",
    "BSD-3-Clause",
    "Zlib",
    "Unicode-3.0",
    "CDLA-Permissive-2.0",
    "OpenSSL",
]
exceptions = []